:root{
  --bg1: #8E2DE2; /* ungu terang */
  --bg2: #4A00E0; /* ungu gelap */
  --accent: #fff7ff;
  --card: rgba(255,255,255,0.10);
  --muted: rgba(255,255,255,0.90);
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family:Inter,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
  background: linear-gradient(135deg,var(--bg1),var(--bg2));
  color:white;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:28px;
}

.wrap{width:100%;max-width:820px}

.card{
  background:var(--card);
  border-radius:14px;
  padding:20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.35);
}

.auth-card{max-width:520px;margin:0 auto;text-align:center}
.title{font-size:28px;margin:6px 0 12px; color:var(--accent)}
.title.light{color:#ffffff} /* lebih terang di halaman login */

.sub{font-size:16px;margin:10px 0;color:var(--accent)}
.muted{color:var(--muted);margin:8px 0}

input{
  width:100%;
  padding:12px 14px;
  border-radius:10px;
  border: none;
  margin:10px 0;
  background: white(244, 239, 239, 0.06);
  color:rgb(21, 19, 19);
  outline:none;
  font-size:15px;
}

.btn{
  display:inline-block;
  padding:10px 16px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  background:rgba(255,255,255,0.12);
  color:white;
  font-weight:700;
  transition:transform .12s ease, background .12s;
  margin:6px 4px;
}

.btn:hover{transform:translateY(-3px)}
.btn.primary{background:linear-gradient(90deg,#b983ff,#c084fc); color:#fff}
.btn.secondary{background:rgba(0,0,0,0.25)}

.participants{list-style:none;padding-left:14px;margin:6px 0; max-height:220px; overflow:auto}
.participants li{padding:8px 0;border-bottom:1px dashed rgba(255,255,255,0.04)}

.grid{display:grid;grid-template-columns:1fr 1fr;gap:12px}

.quiz-card{max-width:760px;margin:0 auto}
.top-row{display:flex;justify-content:space-between;align-items:center;margin-bottom:14px}
.meta{ text-align:right; font-size:14px; color:var(--muted) }

.question-box{
  background: rgba(255,255,255,0.04);
  border-radius:12px;
  padding:20px;
  margin-bottom:12px;
}

.question-box h3{margin:0 0 12px;font-size:18px}
.option {
  display:block;
  margin:10px 0;
  padding:12px 14px;
  border-radius:12px;
  background:rgba(255,255,255,0.03);
  cursor:pointer;
  border:1px solid rgba(255,255,255,0.03);
  transition: all .12s;
  user-select:none;
}

.option.disabled{opacity:0.7;cursor:default}
.option.correct{border-color:rgba(34,197,94,0.9);background:rgba(34,197,94,0.06)}
.option.wrong{border-color:rgba(239,68,68,0.9);background:rgba(239,68,68,0.05)}

.controls{display:flex;justify-content:space-between;gap:8px}
.result-area{margin-top:12px;padding:14px;background:rgba(255,255,255,0.02);border-radius:12px}
.small{padding:12px}
.leader{background:rgba(255,255,255,0.04);text-align:left;padding:12px;border-radius:10px}